<div class="card card-modal">
  <div class="postion-title-card">
      <p class="title-card">Faça login</p>
  </div>
  <div id="mnsAguardCont" *ngIf="message">
    <small class="alert d-block alert-danger" id="msnAlertContentCont">
        {{ message }}
    </small>
  </div>
  <div class="form-row">
      <div class="form-group col-sm-12 col-md-12">
          <label class="label-form-contact" for="email">E-mail</label>
          <div class="input-container">
              <i class="fas fa-envelope icon-defaultModal"></i>
              <input type="email" [(ngModel)]="email" class="form-control input-contact" name="email" id="email" placeholder="Digite seu melhor e-mail" required>
          </div>
      </div>
  </div>
  <div class="form-row">
    <div class="form-group col-sm-12 col-md-12">
        <label class="label-form-contact" for="password">Senha</label>
        <div class="input-container">
            <i class="fas fa-key icon-defaultModal"></i>
            <input type="password" [(ngModel)]="password" class="form-control input-contact" name="password" id="password" placeholder="Digite seu senha" required>
        </div>
    </div>
  </div>
  <button class="btn-default btn-send-submit backgroundFull" (click)="logar()">LOGAR</button>
</div>
