@import "../../../../../assets/css/variables";

.btn-default-action {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $the-color-font;
  width: 50px;
  height: 40px;
  font-size: 0.938rem;
  font-weight: 400;
  border: none;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
}

.backgroundFullEdit {
  background: $btn-action-edit;
  color: $the-color-font;
}

.backgroundFullEdit:hover {
  color: $btn-action-edit;
  border-color: $btn-action-edit;
  background: $the-color-font;
  border: 1px solid;
  text-decoration: none;
}

.backgroundFullDelet {
  background: $btn-action-delet;
  color: $the-color-font;
}

.space-btn {
  margin-left: 15px;
}

.backgroundFullDelet:hover {
  color: $btn-action-delet;
  border-color: $btn-action-delet;
  background: $the-color-font;
  border: 1px solid;
  text-decoration: none;
}
