  <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 no-padding">
      <div class="position-top-footer">
        <div class="position-logo-center">
           <img class="logo-center" src="/assets/imagens/logo-indian.jpg" />
        </div>
      </div>
  </div>
  <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 no-padding">
    <div class="psoiton-social-medias">
      <div class="social-incard">
        <div class="background-icon">
            <a class="icon-style" target="_blank" href="#"><fa-icon [icon]="['fab', 'github']" size="2x"></fa-icon></a>
        </div>
        <div class="background-icon">
            <a class="icon-style" target="_blank" href="#"><fa-icon [icon]="['fab', 'facebook']" size="2x"></fa-icon></a>
        </div>
        <div class="background-icon">
            <a class="icon-style" target="_blank" href="#"><fa-icon [icon]="['fab', 'whatsapp']" size="2x"></fa-icon></a>
        </div>
        <div class="background-icon">
            <a class="icon-style" target="_blank" href="#"><fa-icon [icon]="['fab', 'linkedin']" size="2x"></fa-icon></a>
        </div>
      </div>
    </div>
    <div class="position-copyright">
      <p class="copyright-sytle">© iDun {{year}}. Todos os direitos reservados</p>
    </div>
  </div>
