<input type="checkbox" id="check">
    <!--NAVHEADER-->
    <header class="header-nav">
        <label for="check">
            <i class="fas fa-bars" id="sidebar_btn"></i>
        </label>
        <div class="position_top_area">
            <div class="left_area">
                <img class="img-logo-dash" src="/assets/imagens/logo-indian.jpg" />
            </div>
            <div class="right_area">
                <app-button-background editStyle="backgroundFull btn-back" (click)="logout()" iconType="fas" iconName="arrow-left" content="Logout"></app-button-background>
            </div>
        </div>
    </header>
  <!--/NAVHEADER-->

  <!--MOBILE-->
    <div class="mobile_nav">
      <div class="nav_bar">
          <i class="fa fa-bars nav_btn"></i>
      </div>
      <div class="mobile_nav_items">
          <a href="home"><i class="fas fa-laptop"></i><span>Dashboard</span></a>
          <a href="user"><i class="fas fa-search"></i><span>Usuario</span></a>
          <a href=""><i class="fas fa-check-circle"></i><span>Volta para site</span></a>
      </div>
  </div>
  <!--/MOBILE-->

  <!--SIDEBAR-->
  <div class="sidebar">
      <a href="home"><i class="fas fa-laptop"></i><span>Dashboard</span></a>
      <a href="user"><i class="fas fa-search"></i><span>Usuario</span></a>
      <a href="" class="last-linkNav"><i class="fas fa-check-circle"></i><span>Volta para site</span></a>
  </div>
  <!--/SIDEBAR-->

  <div class="content">
    <router-outlet></router-outlet>
  </div>
