<div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 no-padding background-banner">
  <div class="content-banner">
    <div class="position-title-banner">
        <h2 class="title-banner">Lorem ipsum <span class="color-dif">dolor</span></h2>
    </div>
    <div class="position-btn-banner">
        <app-button-href-background hRef="#" classColor="backgroundFull" content="ver agora"></app-button-href-background>
    </div>
  </div>
</div>

<div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 no-padding cards-description" >
  <div class="position-title-opor">
      <h4 class="title-opor">Lorem ipsum dolor sit amet <span class="color-dif">Indian</span></h4>
  </div>
  <div class="position-cards">
      <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 no-padding row_oppor">
          <div class="column_oppor">
              <div class="position-inside-oppor">
                  <h6 class="title-inside-oppor">Sed ut perspiciatis</h6>
                  <p class="descri-inside-oppor">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
                  <div class="positon-btn-more">
                    <app-button-href-background hRef="#" classColor="backgroundHalf" content="Saber Mais"></app-button-href-background>
                  </div>
              </div>
          </div>
          <div class="column_oppor">
              <div class="position-inside-oppor">
                  <h6 class="title-inside-oppor">Lorem ipsum dolor</h6>
                  <p class="descri-inside-oppor">Amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
                  <div class="positon-btn-more">
                      <app-button-href-background hRef="#" classColor="backgroundHalf" content="Saber Mais"></app-button-href-background>
                  </div>
              </div>
          </div>
          <div class="column_oppor">
              <div class="position-inside-oppor">
                  <h6 class="title-inside-oppor">Nemo enim ipsam</h6>
                  <p class="descri-inside-oppor">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
                  <div class="positon-btn-more">
                      <app-button-href-background hRef="#" classColor="backgroundHalf" content="Saber Mais"></app-button-href-background>
                  </div>
              </div>
          </div>
          <div class="column_oppor">
              <div class="position-inside-oppor">
                  <h6 class="title-inside-oppor">Tempor incididunt</h6>
                  <p class="descri-inside-oppor">Eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora.</p>
                  <div class="positon-btn-more">
                      <app-button-href-background hRef="#" classColor="backgroundHalf" content="Saber Mais"></app-button-href-background>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

