<div class="position-button-tamplate">
  <app-button-background content="Adicionar usuário" iconType="fas" iconName="plus"></app-button-background>
</div>
<!--
<div *ngIf="users">
  <p-table [value]="users" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Category</th>
            <th>Quantity</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-users>
        <tr>
            <td>{{users.code}}</td>
            <td>{{users.name}}</td>
            <td>{{users.category}}</td>
            <td>{{users.quantity}}</td>
        </tr>
    </ng-template>
  </p-table>
</div>

<div *ngIf="!users">
  <h2>AINDA NAO POSSUI USUÁRIO CRIADOS!</h2>
</div> -->
