@import "../../../assets/css/variables";

nav {
  z-index: 1;
}

.position-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}

.alination {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo_navbar {
  width: auto;
  height: 80px;
}

.navbar-light .navbar-nav .nav-link {
  color: $sec-color-font;
  font-size: 0.938rem;
}

.nav-item {
  margin: 15px 0px;
}

.space-btn {
  margin-right: 15px;
}

.clone-space {
  display: block;
  margin: -0.5rem -0.5rem -0.5rem auto;
  margin-top: -45px;
  margin-bottom: 25px;
  filter: invert(98%) sepia(46%) saturate(2%) hue-rotate(160deg) brightness(113%) contrast(100%);
  -webkit-filter: invert(98%) sepia(46%) saturate(2%) hue-rotate(160deg) brightness(113%) contrast(100%);
}

.clone-space:hover {
  filter: invert(98%) sepia(46%) saturate(2%) hue-rotate(160deg) brightness(113%) contrast(100%);
}

.card-modal {
  padding: 20px 40px;
  box-shadow: 4px 4px 28px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  max-width: 612px;
  margin: auto;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.title-card {
    font-size: 1.5rem;
    font-weight: 600;
    color: $for-color-font;
}

.label-form-contact {
  font-size: 0.813rem;
  font-weight: 500;
  color: $for-color-font;
}

.information-form {
    color: $dark-color;
    font-weight: bold;
}

.input-container i {
  position: absolute;
}

.input-container {
  width: 100%;
  margin-bottom: 10px;
}

.icon-default,
.icon-defaultModal {
  padding: 13px 15px;
  color: $icon-color;
}
.input-contact {
  padding-left: 35px !important;
  font-size: 0.813rem !important;
  font-weight: 600 !important;
  height: calc(2.25rem + 5px) !important;
  color: $for-color-font !important;
  border-radius: 100px !important;
  -webkit-border-radius: 100px !important;
  -moz-border-radius: 100px !important;
  -ms-border-radius: 100px !important;
  -o-border-radius: 100px !important;
  background-color: $the-color-font !important;
}

.text-contact {
  padding: 10px 15px;
  font-size: 0.813rem;
  font-weight: 600;
  color: $for-color-font;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
}

.input-service {
  padding: 0.375rem 0.75rem;
}

.input-contact:focus {
  border-color: $sec-color-font;
  box-shadow: none;
}

.btn-send-submit {
  font-weight: bold;
  margin: auto;
}

.nameUser {
  text-transform: uppercase;

}

.alination {
  align-items: center;
}



