<div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 no-padding">
  <div class="ui-g-8 ui-sm-6 ui-md-8 ui-lg-8">
    <a href="/"><img class="logo_navbar" src="/assets/imagens/logo-indian.jpg" /></a>
  </div>
  <div class=" ui-g-4 ui-sm-6 ui-md-4 ui-lg-4">
    <div class="ui-g-6 ui-sm-6 ui-md-6 ui-lg-6">
      <div class="alination" *ngIf="!user">
        <button type="button" class="btn-default backgroundHalf space-btn" data-bs-toggle="modal" data-bs-target="#modalLogar">Logar</button>
      </div>
    </div>
    <div class="ui-g-6 ui-sm-6 ui-md-6 ui-lg-6">
      <button type="button" class="btn-default backgroundFull" data-bs-toggle="modal" data-bs-target="#modalRegistrar">Registrar</button>
      <div class="alination" *ngIf="user">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link nameUser" href="home">{{user.name}}</a>
          </li>
        </ul>
        <button class="btn-default backgroundFull btn-back" (click)="logout()"><i class="space-btn fas fa-chevron-left"></i>Sair</button>
      </div>
    </div>
  </div>
</div>
